.nav, .footer{
    background-color: #333447;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav img{
    width: 100px;
    height: 80px;
    object-fit: contain;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

.row{
    padding: 0;
}

.intro{
    height: 80vh;
    margin-top: 50px;
}

.kat-img, .cpt-img{
    width: 100%;
    height: 60vh;
    
    object-fit: cover;
}

img{
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

table{
    border-collapse: collapse;
    border: 2px solid #333447;
    width: 80%;
    margin: 0 auto;
}

th, td{
    border: 2px solid #333447;
    padding: 10px;
    font-size: medium;
}

h3{
    text-align: center;
    color: black;
}

.footer h5{
    color: white;
}

hr{
    width:60vw;
    margin-bottom: 20px;
}

.hist img{
    float: right;
    margin: 5px;
}
